<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>aaOceanMODO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>aaocean.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>common.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>dsfmt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>kissfft.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libDSM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A7B5131161801040091E644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A8220E11A75E217005F00DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A8220F11A75E267005F00DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A8221111A75EA3A005F00DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AEA32F21A606D0D000CD040</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AEA33061A606D79000CD040</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AED76B5161800A400588EB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
